/* Body styling */
$text-color: #222222;
$btn-hover-color: #323131;
$text-hover-color: #36454f;
$bg-color: #ffffff;

.body {
    height: 83vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 45%;
    height: 70%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    @media screen and (max-width: 960px) {
        width: 80%;
    }
    @media screen and (max-width: 640px) {
        width: 85%;
        height: 70%;
    }
    @media screen and (max-width: 320px) {
        width: 90%;
        height: 80%;
    }
}

form {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-ctn {
    width: 80%;
    height: 60%;
    display: grid;
    place-items: center;
    background: url(../images/quote.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#text {
    text-align: center;
    @media screen and (max-width: 960px) {
        font-size: 16px;
    }
    @media screen and (max-width: 640px) {
        font-size: 14px;
    }
    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
}

#author {
    margin: 1rem 0;
    @media screen and (max-width: 960px) {
        font-size: 16px;
    }
    @media screen and (max-width: 640px) {
        font-size: 14px;
    }
    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
}

.btn-ctn {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#new-quote {
    padding: 10px 15px;
    background: $text-color;
    color: $bg-color;
    border: none;
    &:hover {
        background-color: $btn-hover-color;
        color: $bg-color;
        cursor: pointer;
    }
    @media screen and (max-width: 960px) {
        font-size: 14px;
    }
    @media screen and (max-width: 640px) {
        font-size: 12px;
    }
    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

.share {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.share-btn, .voice {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: $bg-color;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover {
        background-color: $btn-hover-color;
        color: $bg-color;
    }
    @media screen and (max-width: 960px) {
        font-size: 14px;
    }
    @media screen and (max-width: 640px) {
        font-size: 12px;
    }
    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

.voice {
    margin-left: 1rem;
}
