/* Header styling */
$text-color: #222222;
$text-hover-color: #36454f;
$bg-color: #ffffff;

.header-wrapper {
    display: grid;
    place-items: center;
    margin: .5rem 0;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    img {
        width: 70px;
        height: 40px;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    li {
        font-size: 12px;
        a {
            color: $text-color;
            text-decoration: none;
            &:hover {
                color: $text-hover-color;
                cursor: pointer;
            }
        }
    }
}